/***********************
* components starts here
*/

.rw-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: $brown;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background 250ms ease-in-out;
  &:hover{
    color: #fff;
    background-color: lighten($color: $brown, $amount: 5);
  }
}

/*
* components finish here
*************************/
