/***********************
* media queries starts here
*/

// tablet screens
@media(min-width:768px){
  // header
  header{
    .container-fluid{
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  // season
  #rw-front-page{
    .season {
      .season-cta{
        margin-bottom: 4rem;
      }
    }
  }
}

// lg screen
@media(min-width:1024px){
  // globals
  .section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  //container
  .custom-wrapper.container-fluid{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  // header
  header{
    .header-cta{
      display: none;
    }
    .navbar-collapse{
      flex-grow: unset;
    }
    .navbar-hamburger{
      display: none;
    }
  }
  #rw-front-page{
    // banner
    .front-page-banner{
      margin-bottom: 4rem;
      .banner-cta{
        max-width: 30%;
      }
    }
    // new arrivals
    .new-arrivals{
      .new-arrivals-gallery-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    }
    // our collection
    .our-collections{
      .our-collections-list-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .our-collections-image{
        img{
          width: 100% !important;
        }
      }
    }
    // season
    .season{
      .season-second-col-wrapper{
        position: relative;
        top: -100px;
      }
    }
  }
 
}

// xl screen
@media (min-width:1440px){
  //container
  .custom-wrapper.container-fluid{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  //banner
  #rw-front-page{
    .front-page-banner{
      margin: 6rem 0;
      .banner-cta{
        max-width: 20%;
        margin-top: 3rem;
      }
    }
    .our-collections{
      .heading{
        text-align: center;
        margin-bottom: 3rem;
      }
    }
  }
  footer{
    .grid-parent{
      grid-template-columns: repeat(2, 1fr);
      form{
        max-width: 500px;
        .form-group{
          display: flex;
          align-items: center;
        }
        input[type=email]{
          margin-bottom: unset;
          margin-right: 1rem;
        }
        input[type=submit]{
          width: unset;
        }
      }
      .footer-links{
        justify-self: center;
      }
    }
  }
}

/*
* media queries finish here
*************************/
