/***********************
* season starts here
*/
#rw-front-page{
  .season{
    .season-cta{
      margin-bottom: 2rem;
      img{
        margin-bottom: 1rem;
      }
      a{
        width: 100%;
      }
    }
  }
}
/*
* season finish here
*************************/
