/***********************
* variables starts here
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-size: 18px;
$main-background: #f5f2ed;
$black: #3a1e08;
$brown:#452c16;
/*
* variables finish here
*************************/
