.rw-woocommerce__alert-success{
  border-top-color: var(--bs-success);
}

.rw-woocommerce__alert-danger{
  border-top-color: var(--bs-danger);
}

.rw-woocommerce__alert-info{
  border-top-color: var(--bs-info);
}

#rw-shop-page{
  a{
    color: unset;
    transition: color 250 ease-in-out;
    &:hover{
      color: var(--bs-primary);
    }
  }

  .rw-woocommerce__account-nav{
    ul{
      li{
        padding: 1rem;
        background-color: white;
        &:not(:last-child){
          margin-bottom: 0.5rem;
        }
        a{
          text-decoration: none;
        }
      }
    }
  }
  #rw-woocommerce__to-checkout{
    a{
      color: white;
    }
  }
}

#rw-woocommerce__login-form,
#rw-woocommerce__register-form{
  min-height: 400px;
  button[type=submit]{
    width:100%;
    @media(min-width:1440px){
      width: unset;   
    }
  }
}

#rw-woocommerce__shop-list{
  .woocommerce-loop-product__title{
    color: #212529;
  }
}